.date{
    background-color: #4b6584;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    display: flex;
    flex-direction: row;
    gap: .5vw;
    margin-left: 1.2rem;
    /* border: 2px solid white; */
    border-radius: 1rem;
    padding: 0vh 1vw;
}