.card{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(35, 30, 30, 0.909);
    padding: 1.5rem;
    border-radius: 1rem;
    margin: 2vh 2vw;
}